#!/bin/sh

# You can override the base directory here if you whish
#BASEDIR=../../Tests

# The reg-exp used to search for test suites, should probably not be changed
FILES_REGEXP=".*\/Packages\/Application\/.*Tests\/JavaScript\/Functional\/.*Test.js"

# Casper executable
CASPER_BIN=casperjs

# Additional casper options
#CASPER_OPTIONS="--concise --fail-fast"
CASPER_OPTIONS=

# Casper executable
CASPER_BIN=casperjs

# PHP executable
PHP_BIN=php

# Port for the internal PHP server
SERVER_PORT=8888

# If set to 0 the DB will be left untouched, otherwise it will be recreated
WIPE_DB=0

# If set to 0 the PHP internal server will not be killed at the end of the tests.
KILL_SERVER=0

# The Flow3 context to be used
USE_FLOW_CONTEXT=Development/CasperJS
